
.head{
    background-image: url(../img/banner-email-hostign.jpg);
    height: 450px;
    background-size: cover;
}

@media (max-width: 767px){
    .head{
        height: 630px;
    }
}


.head .container{
    display: flex;
    gap: 40px;
    justify-content:space-between ;
    align-items: center;
    height: 100%;
}

@media (max-width: 991px){
    .head .container{
        flex-direction: column;
        justify-content:center ;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        align-items: start;
        gap: 0;
    }
}


.head .container div{
    flex: 1;
}

.head .container .flex1 h2{
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
}

@media (max-width: 991px){
    .head .container .flex1 {
        padding: 60px 50px;
        width: 70%;
    }
}

@media (max-width: 767px){
    .head .container .flex1 {
        padding: 40px 15px 30px;
        width: 100%;
    }
}

.head .container .flex1 p{
    font-size: 16px;
    color: #b2b4b6;
}

.head .container .flex1 span{
    font-size: 18px;
    width: 175px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #2e3a4a;
    font-weight: 600;
    display: block;
}

.head .container .flex2{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    width: 100%;
}

@media (max-width: 991px){
    .head .container .flex2{
        grid-template-columns: repeat(4 , 1fr);
    }
}

@media (max-width: 767px){
    .head .container .flex2{
        grid-template-columns: repeat(2 , 1fr);
    }
}

.head .container .flex2 div{
    text-align: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 767px){
    .head .container .flex2 div{
        height: 190px;
    }
}

.head .container .flex2 div:nth-child(1),
.head .container .flex2 div:nth-child(4){
    background-color: rgb(255, 203, 17);
}

.head .container .flex2 div:nth-child(2),
.head .container .flex2 div:nth-child(3){
    background-color: rgb(255, 193, 13);
}

.head .container .flex2 div img{
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.head .container .flex2 div p{
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.ssl_s {
    margin: 50px 0 70px;
}


.ssl_s .container >h2{
    font-size: 35px;
    margin-bottom: 20px;
    color: #2e3a4a;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 767px){
    .ssl_s .container >h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.ssl_s .container >p{
    color: #657280;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    font-size: 17px;
    margin: 0 auto 40px;
    max-width: 500px;
}

@media (max-width: 767px){
    .ssl_s .container >p{
        font-size: 15px;
    }
}

.ssl_s .container > .grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    width: 90%;
    margin: 0 auto;
    row-gap: 20px;
}

@media (max-width: 991px){
    .ssl_s .container > .grid{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media (max-width: 767px){
    .ssl_s .container > .grid{
        grid-template-columns: repeat(1 , 1fr);
    }
}

.ssl_s .container > .grid div{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.ssl_s .container > .grid div:hover p{
    display: block;
}

.ssl_s .container > .grid div p{
    display: none;
    position: absolute;
    left: 0;
    bottom: 100%;
    text-align: center;
    padding: 20px 30px;
    width: 300px;
    background-color: rgba(52,54,54,.9);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(255,255,255,.85);
    text-align: center;
    border-radius: 5px;
    z-index: 2;
    margin-bottom: 8px;
}

.ssl_s .container > .grid div p::after{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(52,54,54,.9) transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.ssl_s .container > .grid div span{
    font-size: 17px;
    padding: 5px 0;
    color: #424242;
    font-weight: 500;
    text-decoration: none solid #424242;
    border-bottom: 2px dotted rgba(188,193,199,.75);
    text-align: left;
    display: inline-block;
    cursor: help;
}

.Protect >h2{
    font-size: 30px;
    color: #2e3a4a;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 767px){
    .Protect >h2{
        font-size: 23px;
    }
}

.Protect > .div1{
    background-color: #ffcb11;
    padding-bottom: 40px;
}

@media (max-width: 991px){
    .Protect > .div1{
        padding-bottom: 30px;
    }
}

.Protect > .div1 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px){
    .Protect > .div1 .container {
        flex-direction: column;
        gap: 40px;
        padding-top: 45px;
    }
}

.Protect > .div1 .container >div:nth-child(1){
    max-width: 500px;
}

.Protect > .div1 .container >div:nth-child(1) img{
    margin-bottom: 20px;
}



.Protect > .div1 .container >div:nth-child(1) h2{
    color: #2e3a4a;
    font-weight: 700;
    line-height: 1.2;
    font-size: 30px;
    margin-bottom: 20px;
}

.Protect > .div1 .container >div:nth-child(1) p{
    font-size: 17px;
    line-height: 23px;
    color: rgba(46,58,74,.75);
    font-weight: 500;
}


@media (max-width: 991px){
    .Protect > .div1 .container >div:nth-child(1) img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .Protect > .div1 .container >div:nth-child(1) h2,
    .Protect > .div1 .container >div:nth-child(1) p{
        text-align: center;
    }
}

.Protect > .div1 .container >div:nth-child(2){
    position: relative;
    width: 355px;
    height: 380px;
    padding: 40px 25px 30px;
    border-top: 2px #e4002b solid;
    background-color: #fff;
}

@media (max-width: 991px){
    .Protect > .div1 .container >div:nth-child(2){
        width: 500px;
    }
}

@media (max-width: 767px){
    .Protect > .div1 .container >div:nth-child(2){
        width: 100%;
    }

    .Protect > .div1 .container >div:nth-child(1) h2{
        font-size: 22px;
    }
    
    .Protect > .div1 .container >div:nth-child(1) p{
        font-size: 15px;
        line-height: 20px;
    }
}

.Protect > .div1 .container >div:nth-child(2) >span{
    background-color: #e4002b;
    color: #fff;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 25px;
    font-size: 13px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
}

.Protect > .div1 .container >div:nth-child(2) >h2{
    font-size: 23px;
    margin-bottom: 13px;
    color: #2e3a4a;
    font-weight: 500;
    text-align: center;
}

.Protect > .div1 .container >div:nth-child(2) >p{
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
    color: #c12f88;
}

.Protect > .div1 .container >div:nth-child(2) >p span{
    font-size: 18px;
    font-weight: bold;
}

.Protect > .div1 .container >div:nth-child(2) .box {
    width: fit-content;
    margin:0px auto ;
}

.Protect > .div1 .container >div:nth-child(2) .box >div{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.Protect > .div1 .container >div:nth-child(2) .box >div span{
    color: #c32888;
    font-size: 20px;
}

.Protect > .div1 .container >div:nth-child(2) .box >div p{
    font-size: 16px;
    padding-bottom: 2px;
    color: #2e3a4a;
    font-weight: 500;
    border-bottom: 1px dashed #bcc1c7;
}

.Protect > .div1 .container >div:nth-child(2) button{
    font-size: 18px;
    background-color: #c12f88;
    text-transform: uppercase;
    padding: 15px;
    color: #fff;
    width: 100%;
    font-weight: 600;
    margin-top: 25px;
    border-radius: 3px;
    cursor: pointer;
}

.Protect > .div1 .container >div:nth-child(2) button:hover{
    opacity: 90%;
}

.Protect > .div2{
    padding: 40px 0;
    background-color: #2e3a4a;
}

.google .container,
.Protect > .div2 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px){
    .Protect > .div2 .container{
        flex-direction: column-reverse;
        gap: 40px;
    }

    .google .container{
        flex-direction: column;
        gap: 40px;
    }
}

.google .container >div,
.Protect > .div2 .container >div{
    max-width: 500px;
}

.google .container >div h2,
.Protect > .div2 .container >div h2{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.google .container >div p,
.Protect > .div2 .container >div p{
    font-size: 17px;
    line-height: 23px;
    color: rgba(255,255,255,.75);
    padding-bottom: 18px;
}


.google .container img,
.Protect > .div2 .container img{
    width: 400px;
}

@media (max-width: 991px){
    .Protect > .div2 .container img{
        width: 180px;
    }

    .google .container img{
        width: 345px;
    }

    .google .container >div p,
    .google .container >div h2,
    .Protect > .div2 .container >div h2,
    .Protect > .div2 .container >div p{
        text-align: center;
    }
}

@media (max-width: 767px){
    .google .container >div h2,
    .Protect > .div2 .container >div h2{
        font-size: 20px;
    }
    .google .container >div p,
    .Protect > .div2 .container >div p{
        font-size: 15px;
    }

    .google .container img{
        width: 230px;
    }
}

.google{
    margin: 30px 0;
    padding: 40px 0;
    background-color: #2e3a4a;
}

.google .container{

}